# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
.env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Pyenv (optional)
.python-version

# Celery / Redis
celerybeat-schedule

# Node / Frontend
node_modules/
dist/
.env.env
